#expertise {
  top: $nav-height + $header-height + $service-height + $team-height;
  height: $expertise-height;

  h3 {
    color: $dark-teal;
  }

  .underline {
    border-color: $dark-teal;
  }

  .wheel-multiple {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .wheel {
    display: inline-block;
    width: 20vw;
  }
}
