
#nav {
  background-color: $teal;
  color: $white;
  font-family: $lato;
  height: 80px;

  img {
    position: relative;
    top: 15px;
    left: 20px;
    max-width: 15%;
  }

  ul {
    display: inline-block;
    list-style: none;
    position: absolute;
    right: 20px;
    font-size: 12px;
  }

  li {
    display: inline-block;
    padding: 6px;

    &:hover {
      background-color: $dark-teal;
    }
  }

  a {
    text-decoration: none;
    color: $white;
  }
}

#welcome {
  background-color: $teal;
  color: $white;
  font-family: $lato;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 35%;
  }

  p {
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;

    text-align: center;
    font-style: italic;
    font-weight: 100;
    line-height: 1.5em;
  }

  a {
    display: block;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    color: $white;
    border: 2px solid $white;
    padding: 10px;
    font-size: 12px;
    box-shadow: -2px 2px $dark-teal;

    &:hover {
      background-color: $dark-teal;
    }
  }
}
