#header {
  top: $nav-height;
  height: $header-height;

  background-color: $teal;
  color: $white;
  font-family: $lato;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;

    @include tablet {
      width: 250px;
    }

    @include mobile {
      width: 200px;
    }
  }

  h6 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    text-align: center;
    font-style: italic;
    font-weight: 100;
    line-height: 1.5em;
    font-size: 16px;
    padding: 40px 0;

    @include tablet {
      font-size: 14px;
    }

    @include mobile {
      font-size: 12px;
    }
  }

  a {
    display: block;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    text-decoration: none;
    color: $white;
    border: 2px solid $white;

    font-size: 12px;
    box-shadow: -2px 2px $dark-teal;
    padding: 10px;
    width: 120px;

    &:hover {
      background-color: $dark-teal;
    }
  }
}
