#nav {
  top: 0;
  height: 80px;
  background-color: #547980;
  color: #fff;
  font-family: "Lato", sans-serif; }
  #nav img {
    position: absolute;
    top: 15px;
    left: 20px;
    max-width: 15%; }
    @media (max-width: 1024px) and (min-width: 481px) {
      #nav img {
        display: none; } }
    @media (max-width: 480px) and (min-width: 320px) {
      #nav img {
        display: none; } }
  #nav ul {
    position: absolute;
    display: inline-block;
    list-style: none;
    right: 20px;
    font-size: 12px; }
    @media (max-width: 480px) and (min-width: 320px) {
      #nav ul {
        display: none; } }
    @media (max-width: 1024px) and (min-width: 481px) {
      #nav ul {
        display: none; } }
  #nav li {
    display: inline-block;
    padding: 6px; }
    #nav li:hover {
      background-color: #335063; }
  #nav a {
    text-decoration: none;
    color: #fff; }
  #nav .fa-bars {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    padding: 10px; }
    #nav .fa-bars:hover {
      background-color: #335063; }
    @media (min-width: 1025px) {
      #nav .fa-bars {
        display: none; } }

#header {
  top: 80px;
  height: 350px;
  background-color: #547980;
  color: #fff;
  font-family: "Lato", sans-serif; }
  #header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px; }
    @media (max-width: 1024px) and (min-width: 481px) {
      #header img {
        width: 250px; } }
    @media (max-width: 480px) and (min-width: 320px) {
      #header img {
        width: 200px; } }
  #header h6 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    text-align: center;
    font-style: italic;
    font-weight: 100;
    line-height: 1.5em;
    font-size: 16px; }
    @media (max-width: 1024px) and (min-width: 481px) {
      #header h6 {
        font-size: 14px; } }
    @media (max-width: 480px) and (min-width: 320px) {
      #header h6 {
        font-size: 12px; } }
  #header a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    font-size: 12px;
    box-shadow: -2px 2px #335063;
    padding: 10px;
    width: 120px; }
    #header a:hover {
      background-color: #335063; }

#service {
  top: 430px;
  height: 500px;
  padding: 50px;
  background-color: #335063;
  font-family: "Lato", sans-serif; }

h3 {
  text-align: center;
  color: white;
  border-bottom: 2px solid #fff;
  width: 200px;
  font-size: 24px;
  padding-bottom: 20px;
  letter-spacing: 2px;
  margin-left: auto;
  margin-right: auto; }

p {
  color: white;
  font-family: "Lato", sans-serif;
  font-style: italic;
  text-align: center; }

.service {
  display: inline-block;
  width: 20vw;
  margin: 10px 30px;
  color: white;
  text-align: center; }
  @media (max-width: 480px) and (min-width: 320px) {
    .service {
      display: block; } }

#team {
  top: 930px;
  height: 500px; }

#expertise {
  top: 1430px;
  height: 300px; }

#work {
  top: 1730px;
  height: 500px; }

#testimonial {
  top: 2230px;
  height: 500px; }

#contact {
  top: 2730px;
  height: 500px; }

#footer {
  top: 3230px;
  height: 80px; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.container {
  position: absolute;
  left: 0;
  right: 0; }

/*# sourceMappingURL=main.css.map */
