#nav {
  top: 0;
  height: 80px;
  background-color: #547980;
  color: #fff;
  font-family: "Lato", sans-serif; }
  #nav img {
    position: absolute;
    top: 15px;
    left: 20px;
    max-width: 15%; }
    @media (max-width: 1024px) and (min-width: 481px) {
      #nav img {
        display: none; } }
    @media (max-width: 480px) and (min-width: 320px) {
      #nav img {
        display: none; } }
  #nav ul {
    position: absolute;
    display: inline-block;
    list-style: none;
    right: 20px;
    font-size: 12px;
    padding: 20px 0; }
    @media (max-width: 480px) and (min-width: 320px) {
      #nav ul {
        display: none; } }
    @media (max-width: 1024px) and (min-width: 481px) {
      #nav ul {
        display: none; } }
  #nav li {
    display: inline-block;
    padding: 6px; }
    #nav li:hover {
      background-color: #335063; }
  #nav a {
    text-decoration: none;
    color: #fff; }
  #nav .fa-bars {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    padding: 10px; }
    #nav .fa-bars:hover {
      background-color: #335063; }
    @media (min-width: 1025px) {
      #nav .fa-bars {
        display: none; } }

#header {
  top: 80px;
  height: 350px;
  background-color: #547980;
  color: #fff;
  font-family: "Lato", sans-serif; }
  #header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px; }
    @media (max-width: 1024px) and (min-width: 481px) {
      #header img {
        width: 250px; } }
    @media (max-width: 480px) and (min-width: 320px) {
      #header img {
        width: 200px; } }
  #header h6 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    text-align: center;
    font-style: italic;
    font-weight: 100;
    line-height: 1.5em;
    font-size: 16px;
    padding: 40px 0; }
    @media (max-width: 1024px) and (min-width: 481px) {
      #header h6 {
        font-size: 14px; } }
    @media (max-width: 480px) and (min-width: 320px) {
      #header h6 {
        font-size: 12px; } }
  #header a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    font-size: 12px;
    box-shadow: -2px 2px #335063;
    padding: 10px;
    width: 120px; }
    #header a:hover {
      background-color: #335063; }

#service {
  top: 430px;
  height: 600px;
  background-color: #335063;
  font-family: "Lato", sans-serif; }
  #service h3 {
    color: white; }
  #service p {
    color: white;
    font-size: 14px; }
    @media (max-width: 1024px) and (min-width: 481px) {
      #service p {
        font-size: 12px; } }
    @media (max-width: 480px) and (min-width: 320px) {
      #service p {
        font-size: 12px; } }
  #service .subheading {
    padding: 50px 0; }
    @media (max-width: 480px) and (min-width: 320px) {
      #service .subheading {
        padding: 15px 0;
        width: 80vw; } }
  #service .service-multiple {
    text-align: center;
    padding: 30px 0; }
    @media (max-width: 480px) and (min-width: 320px) {
      #service .service-multiple {
        padding: 15px 0; } }
  #service .service-single {
    display: inline-block;
    color: white;
    width: 25vw;
    padding: 0 20px; }
    @media (max-width: 1024px) and (min-width: 481px) {
      #service .service-single {
        display: inline-block;
        width: 18vw; } }
    @media (max-width: 480px) and (min-width: 320px) {
      #service .service-single {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 60%; } }
    @media (max-width: 480px) and (min-width: 320px) {
      #service .service-single img {
        width: 30px; } }
    #service .service-single h6 {
      font-size: 16px;
      letter-spacing: 2px;
      padding: 20px 0; }
    #service .service-single p {
      font-size: 12px; }

#team {
  top: 1030px;
  height: 800px;
  background-color: #EFEFEF;
  font-family: "Lato", sans-serif; }
  #team h3 {
    color: #335063; }
  #team .underline {
    border-color: #335063; }
  #team .subheading {
    color: #335063; }
    @media (max-width: 1024px) and (min-width: 481px) {
      #team .subheading {
        font-size: 12px; } }
    @media (max-width: 480px) and (min-width: 320px) {
      #team .subheading {
        font-size: 12px;
        width: 80vw; } }
  #team .biography-multiple {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  #team .biography {
    display: inline-block;
    width: 16vw;
    padding: 15px 20px;
    vertical-align: top; }
    @media (max-width: 480px) and (min-width: 320px) {
      #team .biography {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 80vw;
        padding: 5px 0; } }
  #team img {
    max-width: 16vw; }
  #team h6 {
    font-size: 16px;
    font-weight: 900;
    color: #335063;
    margin: 15px 0; }
    @media (max-width: 480px) and (min-width: 320px) {
      #team h6 {
        margin: 0; } }
  #team .biography-title {
    margin: 15px 0; }
    @media (max-width: 480px) and (min-width: 320px) {
      #team .biography-title {
        margin: 5px 0; } }
  #team .biography-description {
    margin: 15px 0;
    font-size: 14px; }
    @media (max-width: 480px) and (min-width: 320px) {
      #team .biography-description {
        display: none; } }
  #team .biography-title {
    font-size: 14px;
    font-style: italic;
    color: #BF4366; }
  @media (max-width: 480px) and (min-width: 320px) {
    #team .biography-social {
      display: none; } }

#expertise {
  top: 1830px;
  height: 600px;
  font-family: "Lato", sans-serif;
  color: #335063; }
  #expertise .underline {
    border-color: #335063; }
  @media (max-width: 1024px) and (min-width: 481px) {
    #expertise .subheading {
      width: 80vw;
      font-size: 12px; } }
  @media (max-width: 480px) and (min-width: 320px) {
    #expertise .subheading {
      width: 80vw;
      font-size: 12px; } }
  #expertise .wheel-multiple {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px 0; }
  #expertise .wheel {
    display: inline-block;
    width: 20vw;
    padding: 10px 0; }
    #expertise .wheel img {
      width: 15vw; }
  @media (min-width: 1025px) {
    #expertise .row {
      display: inline-block; } }
  @media (max-width: 1024px) and (min-width: 481px) {
    #expertise .row {
      display: block; } }
  @media (max-width: 480px) and (min-width: 320px) {
    #expertise .row {
      display: block; }
      #expertise .row .wheel {
        width: 40vw; }
        #expertise .row .wheel img {
          width: 30vw; } }
  #expertise h6 {
    font-size: 14px; }

#work {
  top: 2430px;
  height: 900px;
  background-color: #547980;
  font-family: "Lato", sans-serif;
  color: #fff; }
  @media (max-width: 480px) and (min-width: 320px) {
    #work .subheading {
      font-size: 12px; } }
  #work .work-buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    #work .work-buttons a {
      display: inline-block;
      margin: 0 10px;
      padding: 5px 10px;
      text-decoration: none;
      color: #fff;
      border: 2px solid #fff;
      font-size: 14px; }
  #work .featured-row {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 50px 0; }
    @media (max-width: 480px) and (min-width: 320px) {
      #work .featured-row {
        margin: 0; } }
    #work .featured-row p {
      font-size: 12px;
      font-style: normal; }
  #work .featured-top, #work .featured-bottom {
    display: inline-block;
    width: 40vw; }
    @media (max-width: 480px) and (min-width: 320px) {
      #work .featured-top, #work .featured-bottom {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 30px; } }
  #work img {
    width: 22vw; }
    @media (max-width: 1024px) and (min-width: 481px) {
      #work img {
        width: 30vw; } }
    @media (max-width: 480px) and (min-width: 320px) {
      #work img {
        width: 28vw; } }
  #work .load-more {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    font-size: 12px;
    box-shadow: -2px 2px #335063;
    padding: 10px;
    width: 120px; }
    @media (max-width: 480px) and (min-width: 320px) {
      #work .load-more {
        margin-top: 20px; } }
    #work .load-more:hover {
      background-color: #335063; }

#testimonial {
  top: 3330px;
  height: 600px;
  background-color: #EFEFEF;
  color: #335063;
  font-family: "Lato", sans-serif; }
  #testimonial .underline {
    border-color: #335063; }
  @media (max-width: 1024px) and (min-width: 481px) {
    #testimonial .subheading {
      font-size: 12px; } }
  @media (max-width: 480px) and (min-width: 320px) {
    #testimonial .subheading {
      font-size: 12px; } }
  #testimonial .testimonial-multiple {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  #testimonial .testimonial-row {
    display: block; }
  #testimonial .testimonial {
    display: inline-block;
    width: 40vw; }
    @media (max-width: 1024px) and (min-width: 481px) {
      #testimonial .testimonial {
        display: block;
        width: 80vw;
        margin-left: auto;
        margin-right: auto; } }
    @media (max-width: 480px) and (min-width: 320px) {
      #testimonial .testimonial {
        display: block;
        width: 80vw;
        margin-left: auto;
        margin-right: auto; } }
    #testimonial .testimonial img {
      display: inline-block;
      width: 10vw; }
      @media (max-width: 1024px) and (min-width: 481px) {
        #testimonial .testimonial img {
          display: none; } }
      @media (max-width: 480px) and (min-width: 320px) {
        #testimonial .testimonial img {
          display: none; } }
    #testimonial .testimonial .info {
      display: inline-block;
      width: 60%;
      text-align: left; }
      #testimonial .testimonial .info .blurb {
        font-size: 13px;
        font-weight: 100;
        margin: 5px 0; }
        @media (max-width: 480px) and (min-width: 320px) {
          #testimonial .testimonial .info .blurb {
            font-size: 12px; } }
      #testimonial .testimonial .info .client {
        font-weight: 900;
        margin: 5px 0; }
        @media (max-width: 480px) and (min-width: 320px) {
          #testimonial .testimonial .info .client {
            font-size: 12px; } }
      #testimonial .testimonial .info .title {
        color: #BF4366;
        margin: 5px 0;
        font-size: 12px; }

#contact {
  top: 3930px;
  height: 500px;
  background-color: #335063;
  font-family: "Lato", sans-serif; }
  #contact h3 {
    color: #fff; }
  #contact p {
    color: #fff; }
  #contact .contact-section {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center; }
  #contact .form-side {
    display: inline-block;
    width: 40vw; }
  #contact input {
    display: block;
    width: 80%;
    margin: 20px 0;
    border: none;
    background-color: #1E2F3B;
    padding: 15px;
    color: #fff; }
  #contact a {
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    padding: 5px 10px; }
  #contact .info-side {
    display: inline-block;
    width: 40vw;
    text-align: left;
    padding-left: 20px; }

#footer {
  top: 4430px;
  height: 100px;
  color: #335063;
  font-family: "Lato", sans-serif; }
  #footer .logo {
    padding: 30px 0 30px 0;
    padding-right: 25vw; }
  #footer .social {
    padding: 30px 0 30px 30px; }
  #footer p {
    position: absolute;
    right: 20px;
    bottom: 10px; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, form, label, footer, header {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

.container {
  position: absolute;
  left: 0;
  right: 0; }

h3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 50px 0 15px 0;
  font-size: 24px;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif; }

.underline {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 150px;
  border: 1px solid white; }

.subheading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lato", sans-serif;
  font-style: italic;
  text-align: center;
  width: 40%;
  padding: 30px 0; }

/*# sourceMappingURL=main.css.map */
