@import "variables.scss";
@import "mixins.scss";

@import "nav.scss";
@import "header.scss";

@import "service.scss";
@import "team.scss";
@import "expertise.scss";
@import "work.scss";
@import "testimonial.scss";
@import "contact.scss";

@import "footer.scss";

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
}
