#nav {
  top: 0;
  height: $nav-height;

  background-color: $teal;
  color: $white;
  font-family: $lato;

  img {
    position: relative;
    top: 15px;
    left: 20px;
    max-width: 15%;

    @include mobile {
      display: none;
    };
  }

  ul {
    display: inline-block;
    list-style: none;
    position: absolute;
    right: 20px;
    font-size: 12px;

    @include mobile {
      display: none;
    }
  }

  li {
    display: inline-block;
    padding: 6px;

    &:hover {
      background-color: $dark-teal;
    }
  }

  a {
    text-decoration: none;
    color: $white;
  }
}
