#service {
  top: $nav-height + $header-height;
  height: $service-height;

  background-color: $dark-teal;
  font-family: $lato;

  h3 {
    color: white;
  }

  p {
    color: white;
  }

  .service-multiple {
    text-align: center;
    padding: 30px 0;

    img {
      margin: 20px;
    }
  }

  .service-single {
    display: inline-block;
    color: white;
    width: 300px;

    h6 {
      font-size: 16px;
      letter-spacing: 2px;
    }

    p {
      font-size: 12px;
    }

    @include mobile {
      display: block;
    };
  }
}
