#testimonial {
  top: $nav-height + $header-height + $service-height + $team-height + $expertise-height + $work-height;
  height: $testimonial-height;
  background-color: $grey;
  color: $dark-teal;
  font-family: $lato;

  .underline {
    border-color: $dark-teal;
  }

  .subheading {
    @include tablet {
      font-size: 12px;
    }
    @include mobile {
      font-size: 12px;
    }
  }

  .testimonial-multiple {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .testimonial-row {
    display: block;
  }

  .testimonial {
    display: inline-block;
    width: 40vw;

    @include tablet {
      display: block;
      width: 80vw;
      margin-left: auto;
      margin-right: auto;
    }

    @include mobile {
      display: block;
      width: 80vw;
      margin-left: auto;
      margin-right: auto;
    }

    img {
      display: inline-block;
      width: 10vw;

      @include tablet {
        display: none;
      };

      @include mobile {
        display: none;
      }
    }

    .info {
      display: inline-block;
      width: 60%;
      text-align: left;

      .blurb {
        font-size: 13px;
        font-weight: 100;
        margin: 5px 0;

        @include mobile {
          font-size: 12px;
        }
      }

      .client {
        font-weight: 900;
        margin: 5px 0;

        @include mobile {
          font-size: 12px;
        }
      }

      .title {
        color: $pink;
        margin: 5px 0;
        font-size: 12px;
      }
    }
  }
}
