
// COLOURS

$teal: #547980;
$dark-teal: #335063;
$darkest-teal: #1E2F3B;
$grey: #EFEFEF;
$white: #fff;
$pink: #BF4366;

// FONTS

$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;

// VARIABLES

$nav-height: 80px;
$header-height: 350px;
$service-height: 600px;
$team-height: 800px;
$expertise-height: 600px;
$work-height: 900px;
$testimonial-height: 600px;
$contact-height: 500px;
$footer-height: 100px;
