
// COLOURS

$teal: #547980;
$dark-teal: #335063;
$grey: #EFEFEF;
$white: #fff;

// FONTS

$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;

// VARIABLES

$nav-height: 80px;
$header-height: 350px;
$service-height: 500px;
$team-height: 500px;
$expertise-height: 300px;
$work-height: 500px;
$testimonial-height: 500px;
$contact-height: 500px;
$footer-height: 80px;
