#work {
  top: $nav-height + $header-height + $service-height + $team-height + $expertise-height;
  height: $work-height;
  background-color: $teal;
  font-family: $lato;
  color: $white;

  .subheading {
    @include mobile {
      font-size: 12px;
    }
  }

  .work-buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    a {
      display: inline-block;
      margin: 0 10px;
      padding: 5px 10px;
      text-decoration: none;
      color: $white;
      border: 2px solid $white;
      font-size: 14px;
    }
  }

  .featured-row {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 50px 0;

    @include mobile {
      margin: 0;
    }

    p {
      font-size: 12px;
      font-style: normal;
    }
  }

  .featured-top, .featured-bottom {
    display: inline-block;
    width: 40vw;

    @include mobile {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-top: 30px;
    }
  }

  img {
    width: 22vw;

    @include tablet {
      width: 30vw;
    }

    @include mobile {
      width: 28vw;
    }
  }

  .load-more {
    display: block;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    text-decoration: none;
    color: $white;
    border: 2px solid $white;

    font-size: 12px;
    box-shadow: -2px 2px $dark-teal;
    padding: 10px;
    width: 120px;

    @include mobile {
      margin-top: 20px;
    }

    &:hover {
      background-color: $dark-teal;
    }
  }
}
